langgraph
langchain
langchain-openai
langchain-community
langchain-core
langchain-text-splitters
python-dotenv
chromadb
langchain-chroma
pypdf
streamlit
boto3
supabase
pydantic
fastapi
uvicorn
python-multipart
python-jose[cryptography]# For JWT token handling